.food-item {
    width: 250px; /* Increased width for all containers */
    height: 340px; /* Increased height for all containers */
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000034;
    transition: transform 0.3s;
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative; /* Add position relative for absolute positioning */
}

.food-item:hover {
    transform: scale(1.05);
}

.food-item-image-container {
    width: 100%;
    height: 100%; /* Make the image container take 60% of the total height */
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    border-radius: 15px 15px 0px 0px;
    position: relative;
}

.food-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
    transition: transform 0.3s;
}

.food-item-image-container:hover img {
    transform: scale(1.1); /* Zoom in the image on hover */
}

.food-item-info {
    padding: 10px; /* Adjusted padding to fit within the height */
    box-sizing: border-box; /* Ensure padding doesn't affect the height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%; /* Make the info container take 40% of the total height */
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
   
}

.food-item-rating img {
    width: 20px;
}

.food-item-description {
    color: #000000d8;
    font-size: 14px;
    margin: 0; /* Update margin to avoid excessive space */
}

.food-item-price {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    margin-top: auto; /* Push the price to the bottom */
    text-align: right;
}

.food-item-image-container .add {
    width: 50px;
    height: 50px; /* Set height to match width */
    position: absolute;
    right: 5px;
    bottom:5px;
    cursor: pointer;
    border-radius: 50%;
    background-color:rgb(0, 0, 0); /* Semi-transparent background for better visibility */
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color:turquoise;
}

.food-item-counter img {
    width: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
